.search-section {
  margin-top: 1rem;
  padding: 0 1rem;

  .search-input-container {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    .full-width {
      flex: 1;
    }

    .cancel-button {
      color: var(--text-secondary);
      transition: color 0.2s ease;
      height: 3.5rem;
      width: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: var(--text-color);
      }
    }
  }

  .search-results {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .result-item {
      cursor: pointer;
      margin-bottom: 1rem;
      transition: background-color 0.2s ease;
      color: var(--text-color);

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      div {
        color: var(--text-color);
      }

      .result-details {
        display: flex;
        gap: 1rem;
        margin-top: 4px;
        font-size: 0.875rem;
      }
    }
  }
}

.temperature-section {
  margin: 0.5rem 1rem;

  h5 {
    margin-top: 1rem;
    color: var(--text-color);
  }

  .temperature-card {
    background-color: var(--card-bg);
    color: var(--text-color);
    box-shadow: none;
    padding: 1rem;

    .card-header {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .card-title {
        font-size: 1rem;
        font-weight: bold;
      }

      .card-subtitle {
        color: var(--text-secondary);
      }
    }

    .trend-indicator {
      display: inline-flex;
      align-items: center;
      margin: 10px 0;
      padding: 5px 10px;
      border-radius: 4px;

      &.up {
        color: #4caf50;
        background-color: rgba(76, 175, 80, 0.1);
      }

      &.down {
        color: #f44336;
        background-color: rgba(244, 67, 54, 0.1);
      }

      i.pi {
        margin-right: 5px;
      }
    }

    .update-time {
      font-size: 0.8rem;
      color: var(--text-secondary);
    }
  }
}


.market-container {
  padding: 1rem;

  .loading {
    text-align: center;
    padding: 1.5rem;
    color: #666;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }

  .market-card {
    transition: transform 0.2s;
    background: var(--card-bg);
    box-shadow: none;

    .card-title {
      font-size: 1rem;
      font-weight: normal;
    }

    .card-subtitle {
      font-size: 0.8rem;
      color: var(--text-secondary);
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  .price {
    font-size: 1rem;
    font-weight: normal;
    margin: 0.5rem 0;
  }

  .change {
    font-size: 1rem;

    &.positive {
      color: #f44336;
    }

    &.negative {
      color: #4caf50;
    }
  }

  .volume {
    font-size: 0.9rem;
    color: #666;
    margin-top: 8px;
  }

  .p-tabview {
    margin-top: 1rem;
  }

  .p-tabview-nav-link {
    font-size: 1rem;
    font-weight: normal;
  }

}