<div class="orders-container">
  <p-table [value]="orders" [scrollable]="true" scrollHeight="flex" [rows]="10" [loading]="loading" [showLoader]="true"
    dataKey="id" styleClass="p-datatable-striped" stripedRows>
    <ng-template #header>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Price</th>
        <th>QTY/Filled</th>
      </tr>
    </ng-template>

    <ng-template #body let-order let-expanded="expanded">
      <tr [pRowToggler]="order">
        <td>
          <p-tag [value]="trimStatus(order.status)" [severity]="getStatusSeverity(order.status)" styleClass=""></p-tag>
        </td>
        <td>{{order.name}}</td>
        <td>{{order.price}}</td>
        <td>{{order.quantity}}/{{order.filled}}</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-order>
      <tr>
        <td colspan="4" class="button-container">
          <p-button label="Quotes" size="small" variant="outlined" styleClass="mr-2"></p-button>
          <p-button label="Edit" size="small" variant="outlined" styleClass="mr-2"></p-button>
          <p-button label="Cancel" size="small" variant="outlined" styleClass="mr-2"></p-button>
          <p-button label="Details" size="small" variant="outlined" styleClass=""></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template #footer>
      <tr>
        <td colspan="4">
          <small>In total there are {{ orders ? orders.length : 0 }} orders. </small>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="load-more-container">
    <div *ngIf="!allLoaded" class="load-more" (click)="loadOrders()">
      <i *ngIf="loading" class="pi pi-spinner pi-spin text-red-500 mr-2"></i>
      Load More
    </div>
    <div *ngIf="allLoaded && !loading" class="all-loaded">
      All orders loaded
    </div>
  </div>
</div>
