<div class="orders-container">
  <p-table [value]="orders" [scrollable]="true" scrollHeight="flex" [rows]="10" [loading]="loading" [showLoader]="true"
    dataKey="id" styleClass="p-datatable-striped" stripedRows>
    <ng-template #header>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Price</th>
        <th>QTY/Filled</th>
      </tr>
    </ng-template>

    <ng-template #body let-order let-expanded="expanded">
      <tr [pRowToggler]="order">
        <td>
          <p-tag [value]="trimStatus(order.status)" [severity]="getStatusSeverity(order.status)" styleClass=""></p-tag>
        </td>
        <td>{{order.name}}</td>
        <td>{{order.price}}</td>
        <td>{{order.quantity}}/{{order.filled}}</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-order>
      <tr>
        <td><p-button label="Quotes" size="small"></p-button></td>
        <td><p-button label="Edit" size="small"></p-button></td>
        <td><p-button label="Cancel" size="small"></p-button></td>
        <td><p-button label="Details" size="small"></p-button></td>
      </tr>
    </ng-template>

    <ng-template #footer>
      <tr>
        <td colspan="4">
          <small>In total there are {{ orders ? orders.length : 0 }} orders. </small>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="">
    <div *ngIf="!allLoaded">
      <div colspan="4" class="text-center p-3" (click)="loadOrders()">
        <i *ngIf="loading" class="pi pi-spinner pi-spin mr-2"></i>
        Load More
      </div>
    </div>
    <div *ngIf="allLoaded && !loading">
      <div colspan="4" class="text-center p-3 text-gray-500">
        All orders loaded
      </div>
    </div>
  </div>
</div>
