<div class="space-y-2">
    <div *ngFor="let record of records" class="p-2 border-b">
        <div class="flex justify-between">
            <span>{{ record.type }}</span>
            <span class="text-primary-500">{{ record.amount | currency }}</span>
        </div>
        <div class="flex justify-between text-sm text-gray-500">
            <span>{{ record.time | date:'short' }}</span>
            <span>Balance: {{ record.balance | currency }}</span>
        </div>
    </div>
    <div class="p-2 text-center">
        <p-button [link]="true" (click)="loadMore()" class="text-primary-500 hover:underline cursor-pointer">Load
            More</p-button>
    </div>
</div>