<div class="space-y-4">
    <p-progressBar *ngIf="isInit" mode="indeterminate" [style]="{'height': '6px', 'width': '100%'}"></p-progressBar>
    <div *ngIf="!isInit">
        <div *ngFor="let record of records"
            class="p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-200">
            <div class="flex justify-between items-center">
                <span class="font-medium">Transfered {{ record.transfer_in ? 'in' : 'out' }}</span>
                <span class="text-primary-500 font-semibold">{{ record.amount | currency }} {{record.ccy}}</span>
            </div>
            <div class="flex justify-between text-sm text-gray-500 mt-1">
                <span>{{ record.created_at | date:'short' }}</span>
                <span>{{ record.account_name }}</span>
            </div>
        </div>
    </div>

    <div class="p-4 text-center">
        <div *ngIf="isLoading" class="flex justify-center py-2">
            <div class="animate-spin rounded-full h-6 w-6 border-b-2 border-primary-500"></div>
        </div>
        <p-button *ngIf="!isLoading && !allRecordsLoaded" [link]="true" (click)="loadMore()"
            class="text-primary-500 hover:underline cursor-pointer">
            Load More
        </p-button>
        <p *ngIf="allRecordsLoaded" class="text-gray-500">All records loaded</p>
    </div>
</div>
