<div class="min-h-screen">
  <app-top-navigation title="My assets" (back)="goBack()" (refresh)="refreshData()">
  </app-top-navigation>

  <!-- Total Assets Card -->
  <div class="p-4">
    <div class="rounded-lg shadow p-6">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-md font-medium">Total Assets</h2>
        <span class="text-md font-bold">$365,013.73</span>
      </div>
      <div class="flex justify-between items-center">
        <h2 class="text-sm font-medium ">Today's P/L</h2>
        <span class="text-sm font-bold ">+$120.00</span>
      </div>
    </div>
  </div>

  <!-- Asset Groups Card -->
  <div class="p-4">
    <div class="rounded-lg shadow p-6">
      <h2 class="text-md font-medium  mb-4">Asset Groups</h2>
      <div class="space-y-4">
        <div class="flex justify-between">
          <span class="text-sm">Available Assets</span>
          <span class="text-sm font-medium">$15,620.90</span>
        </div>
        <div class="flex justify-between">
          <span class="text-sm">Stocks</span>
          <span class="text-sm font-medium">$30,106.78</span>
        </div>
        <div class="flex justify-between">
          <span class="text-sm">Fund</span>
          <span class="text-sm font-medium">$2,005.67</span>
        </div>
        <div class="flex justify-between">
          <span class="text-sm">Bonds</span>
          <span class="text-sm font-medium">$864.32</span>
        </div>
      </div>
    </div>
  </div>
</div>