<div class="min-h-screen">
  <app-top-navigation title="My Assets" (back)="goBack()" (refresh)="refreshData()">
  </app-top-navigation>

  @if (isLoading) {
    <div>
      <div class="card">
        <div class="flex flex-wrap">
          <div class="w-full xl:w-6/12 p-4">
            <p-skeleton styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
            <p-skeleton height="2rem" styleClass="mb-2" />
            <p-skeleton width="10rem" height="4rem" styleClass="mb-2" />
            <p-skeleton styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
            <p-skeleton height="2rem" styleClass="mb-2" />
          </div>
        </div>
      </div>
    </div>
  }

  <!-- Account Balances Accordion -->
  <div class="p-4">
    <div class="">
      <h2 class="text-md font-medium mb-4">Account Balances</h2>
      <p-accordion [multiple]="true" [(value)]="expand_id" class=""
        styleClass="rounded-lg shadow-sm hover:shadow-md transition-shadow duration-200">
        @for (account of accountBalances; track account) {
          <p-accordion-panel [value]="account.id">
            <p-accordion-header>
              <div>
                <i [ngClass]="'fi fi-' + account.flag" class="mr-2"></i>{{account.name}}
              </div>
            </p-accordion-header>
            <p-accordion-content>
              <div class="grid grid-cols-2 gap-4 p-3">
                <div class="text-gray-600">Balance:</div>
                <div class="text-right">
                  {{account.balance | currency : account.ccy : 'symbol': '1.2-2'}}
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    </div>
    <div class="pt-4">
      <p class="font-bold">
        Important Information
      </p>
      <p class="px-4">
        <small>
          1. For savings or current account, you can view transactions up to your last bank statement cut-off date.
        </small>
      </p>
      <p class="px-4">
        <small>
          2. For passbook savings, you can view transactions than have not been printed on passbook.
        </small>
      </p>
    </div>
  </div>

  <div class="p-4">
    <div class="">
      <h2 class="text-md font-medium mb-4">Record History</h2>
      <div class="space-y-4">
        <app-history></app-history>
      </div>
    </div>
  </div>
</div>