<div class="text-gray-500 dark:text-gray-400 shadow-lg h-[100vh]">
  <div class="bg-[url('/240325-our-values-and-purpose-370x208.jpg')] bg-cover bg-center pb-2">
    <div class="flex items-center p-2 justify-end">
      <p-button (click)="closePanel()" [rounded]="true" severity="danger" [outlined]="true" icon="pi pi-times"
        iconPos="right" class="bg-white rounded-full" size="small" />
    </div>
    <div
      class="px-4 py-2 font-bold border-solid shadow-sm mx-4 mb-2 rounded-md flex justify-between bg-red-100 dark:bg-red-50"
      (click)="navigateTo('Contact details')">
      <div class="">
        <h5>Welcome, {{username()}}</h5>
        <small class="font-normal text-wrap">Last successful logon: {{now()}}</small>
      </div>
      <div class="flex flex-col justify-center">
        <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
      </div>
    </div>
  </div>
  <ul class="overflow-y-auto mx-4">
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('General')">
      <div class="flex items-center">
        <i class="pi pi-home mr-2"></i>
        <span i18n>General</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Security')">
      <div class="flex items-center">
        <i class="pi pi-lock mr-2"></i>
        <span i18n>Security</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Pay and transfer')">
      <div class="flex items-center">
        <i class="pi pi-money-bill mr-2"></i>
        <span i18n>Pay and transfer</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Contact details')">
      <div class="flex items-center">
        <i class="pi pi-user mr-2"></i>
        <span i18n>Contact details</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Communication preferences')">
      <div class="flex items-center">
        <i class="pi pi-envelope mr-2"></i>
        <span i18n>Communication preferences</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Notification')">
      <div class="flex items-center">
        <i class="pi pi-mobile mr-2"></i>
        <span i18n>App permissions</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Investment')">
      <div class="flex items-center">
        <i class="pi pi-chart-line mr-2"></i>
        <span i18n>Investment</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Open Banking consent')">
      <div class="flex items-center">
        <i class="pi pi-shield mr-2"></i>
        <span i18n>Open Banking consent</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer flex items-center justify-between"
      (click)="navigateTo('Activity log')">
      <div class="flex items-center">
        <i class="pi pi-history mr-2"></i>
        <span i18n>Activity log</span>
      </div>
      <i class="pi pi-chevron-right"></i>
    </li>
  </ul>
  <div class="flex justify-center absolute bottom-0 right-0 left-0 p-6">
    <p-button icon="pi pi-sign-out" variant="outlined" label="Log off" (click)="LogOff()" />
  </div>
</div>