<app-header title="Trade" bg_img="finance-banner.jpg"></app-header>

<div class="trade-container">

  <div class="trade-actions">
    <p-button variant="outlined" size="small" label="Buy" icon="pi pi-shopping-cart"
      (onClick)="navigateTo('/trade-stocks')"></p-button>
    <p-button variant="outlined" size="small" label="Sell" icon="pi pi-dollar"
      (onClick)="navigateTo('/trade-stocks', {trade: 'sell'})"></p-button>
    <p-button variant="outlined" size="small" label="Transfer" icon="pi pi-wallet"
      (onClick)="navigateTo('/transfer')"></p-button>
    <p-button variant="outlined" size="small" label="Exchange" icon="pi pi-arrow-right-arrow-left"
      (onClick)="navigateTo('/exchange')"></p-button>
  </div>

  <div class="dashboard asset-dashboard shadow-md hover:shadow-lg" (click)="navigateTo('/asset-detail')">
    <div class="dashboard-header">
      <h3 class="cursor-pointer text-md font-semibold">Total Asset</h3>
      <button class="toggle-metrics" (click)="toggleMetrics($event)">
        <i class="pi" [class]="showMetrics ? 'pi-eye' : 'pi-eye-slash'"></i>
      </button>
    </div>
    <div class="metrics px-6 py-6" *ngIf="overviewAccount">
      <div class="metric-row">
        <div class="metric">
          <span class="label text-sm">{{overviewAccount.name}}</span>
        </div>
        <div class="metric">
          <span class="value font-bold" *ngIf="showMetrics">{{ overviewAccount.balance | currency:
            overviewAccount.ccy }}</span>
          <span class="value text-sm" *ngIf="!showMetrics">••••••</span>
        </div>
      </div>
      <div class="metric-row" *ngIf="totalPL && totalTodayPL">
        <div class="metric">
          <span class="label text-sm">Current PL</span>
          <span class="value text-sm" *ngIf="showMetrics" [class.positive]="totalPL>0"
            [class.negative]="totalPL<0">{{totalPL | currency: overviewAccount.ccy }}</span>
          <span class="value text-sm" *ngIf="!showMetrics">••••••</span>
        </div>
        <div class="metric">
          <span class="label text-sm">Today PL</span>
          <span class="value text-sm" *ngIf="showMetrics" [class.positive]="totalTodayPL>0"
            [class.negative]="totalTodayPL<0">{{totalTodayPL | currency: overviewAccount.ccy}}</span>
          <span class="value text-sm" *ngIf="!showMetrics">••••••</span>
        </div>
      </div>
    </div>
  </div>

  <div class="my-2">
    <h3 class="text-md font-semibold">Positions</h3>
    @if(positions && positions.length > 0){
    <p-table [value]="positions" [rowHover]="true" [responsive]="true" styleClass="p-datatable-sm p-datatable-striped"
      [scrollable]="true" #scrolling>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-sm text-nowrap" pFrozenColumn>Security</th>
          <th class="text-sm text-nowrap">MV/Qty</th>
          <th class="text-sm text-nowrap">Price/Cost</th>
          <th class="text-sm text-nowrap">Today's P/L</th>
          <th class="text-sm text-nowrap">P/L</th>
          <th class="text-sm text-nowrap">% Portfolio</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-position>
        <tr (click)="navigateTo('/trade-stocks', {code: position.instrument_code})">
          <td class="text-sm" pFrozenColumn>
            <div class="line-clamp-2 text-ellipsis">{{ position.instrument_name }}</div>
          </td>
          <td class="text-sm">
            <div>{{ position.marketValue | number:'1.2-2'}}</div>
            <div>{{ position.quantity }}</div>
          </td>
          <td class="text-sm">
            <div>{{ position.price | number:'1.2-2' }}</div>
            <div>{{ position.cost | number:'1.2-2' }}</div>
          </td>
          <td class="text-sm" [class.positive]="position.todayPL > 0" [class.negative]="position.todayPL < 0">
            <div>{{ position.todayPL | number:'1.2-2' }}</div>
            <div>{{ position.todayPL_p | percent:'1.2-2' }}</div>
          </td>
          <td class="text-sm" [class.positive]="position.pl > 0" [class.negative]="position.pl < 0">
            <div>{{ position.pl | number:'1.2-2' }}</div>
            <div>{{ position.pl_p | percent:'1.2-2' }}</div>
          </td>
          <td class="text-sm">{{ position.portfolioPercent | percent:'1.2-2' }}</td>
        </tr>
      </ng-template>
    </p-table>
    }
  </div>

  <div class="mt-6">
    <h3 class="text-md font-semibold">Recent Orders</h3>
    <div class="mt-2">
      <app-orders></app-orders>
    </div>
  </div>
</div>