.header {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 6rem;

  .header-icons {
    display: flex;
    gap: 0.5rem;

    button {
      color: var(--text-color);
    }
  }
}

@keyframes scale-down {
  from {
    transform: scaleY(100%);
  }

  to {
    transform: scaleY(50%);
  }
}

.scale-down {
  animation: scale-down cubic-bezier(.01, 1.13, .29, .16);
  animation-timeline: scroll();
}