<div class="header scale-down" [ngStyle]="{'background-image': 'url(' + bg_img + ')'}">
  <h1 class="header-title grow text-white">{{title}}</h1>
  <div class="header-icons">
    <p-button icon="pi pi-bell" severity="secondary" [rounded]="true" size="small" (click)="goToNotifications()" class=""></p-button>
    <p-button icon="pi pi-user" severity="secondary" [rounded]="true" size="small" (click)="toggleUserPanel()" class="p-button-rounded p-button-text"></p-button>
  </div>

  <p-drawer header="Bottom Drawer" #drawerRef [(visible)]="displayUserPanel" position="full"
    [style]="{background: 'transparent' }">
    <ng-template #headless>
      <app-user-panel (panelClosed)="displayUserPanel=false"></app-user-panel>
    </ng-template>
  </p-drawer>

  <app-notification-center></app-notification-center>
</div>
