.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-image: url(../../../public/images.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .header-icons {
    display: flex;
    gap: 0.5rem;

    button {
      color: var(--text-color);
    }
  }
}

@keyframes scale-down {
  from {
    background-size: 100%;
  }

  to {
    background-size: 10%;
  }
}

.scale-down {
  animation: scale-down cubic-bezier(.01,1.13,.29,.16);
  animation-timeline: scroll();
}

// .user-panel-dialog {
//   .p-dialog {
//     border-radius: 16px 16px 0 0 !important;
//     max-height: 80vh;
//   }
// }
