<div class="header scale-down">
  <h1 class="header-title grow">{{title}}</h1>
  <div class="header-icons">
    <button pButton icon="pi pi-bell" (click)="goToNotifications()" class="p-button-rounded p-button-text"></button>
    <button pButton icon="pi pi-user" (click)="toggleUserPanel()" class="p-button-rounded p-button-text"></button>
  </div>

  <p-drawer header="Bottom Drawer" #drawerRef [(visible)]="displayUserPanel" position="bottom"
    [style]="{height: '100vh' }">
    <ng-template #headless>
      <app-user-panel></app-user-panel>
    </ng-template>
  </p-drawer>


</div>