<div class="home-header">
  <h1>HSBC</h1>
  <div class="header-icons">
    <button mat-icon-button (click)="goToNotifications()">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleUserPanel()">
      <mat-icon>people</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="showPromotions" class="promotion-carousel">
  <div class="carousel-container">
    <ng-container *ngFor="let promo of promotions; let i = index">
      <mat-card *ngIf="promo.visible" class="promo-card">
        <button mat-icon-button class="close-btn" (click)="closePromotion(i)">
          <mat-icon>close</mat-icon>
        </button>
        <mat-card-header>
          <mat-card-title>{{promo.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{promo.description}}
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>

<div class="quicksteps-section">
  <h2 i18n>QuickSteps</h2>
  <div class="quicksteps-grid">
    <mat-card class="quicksteps-card" (click)="navigateTo('estatements')">
      <i class="material-icons">receipt</i>
      <span i18n>View eStatements & eAdvices</span>
    </mat-card>
    
    <mat-card class="quicksteps-card" (click)="navigateTo('local-transfer')">
      <i class="material-icons">payments</i>
      <span i18n>Transfer to local payees / FPS</span>
    </mat-card>
    
    <mat-card class="quicksteps-card" (click)="navigateTo('hsbc-transfer')">
      <i class="material-icons">currency_exchange</i>
      <span i18n>Transfer to my local HSBC accounts</span>
    </mat-card>
  </div>
</div>

<div class="news-section" *ngIf="marketNews.length > 0">
  <h2 i18n>Market News</h2>
  <ul class="news-list">
    <li *ngFor="let news of marketNews">
      {{news.title}}
    </li>
  </ul>
</div>
