.promotion-carousel {
  margin: 20px 0;
  padding: 20px;
  background: var(--card-bg);
  border-radius: 4px;
  color: var(--text-color);
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 10px 0;
}

.promo-card {
  position: relative;
  min-width: 300px;
  background-color: var(--promo-card-bg);
  color: var(--text-color);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  // z-index: 0;
}


.news-section {
  // margin: 2rem 0;

  h2 {
    margin-bottom: 1rem;
    color: #333;
  }

  .news-list {
    list-style-type: none;
    padding: 1rem;

  .news-card {

    mat-card-header {
    }

    mat-card-subtitle {
      color: #666;
    }

    a {
      color: #1976d2;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
}