.promotion-carousel {
  margin: 1rem 0;
  padding: 1rem;
  background: var(--card-bg);
  border-radius: 4px;
  color: var(--text-color);

  .carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    padding: 0.5rem 0;

    .promo-card {
      position: relative;
      min-width: 10rem;
      background-color: var(--promo-card-bg);
      color: var(--text-color);

      .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 0;
      }
    }
  }
}

.quicksteps-section {
  margin: 1rem 0;
  padding: 1rem;
  background: var(--card-bg);
  border-radius: 4px;

  h5 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
  }

  .quicksteps-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;

    .quicksteps-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;
      max-width: 6rem;
      background: var(--card-bg);
      box-shadow: none;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      i.pi {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      span {
        margin: 0;
        text-align: center;
        font-size: small;
      }
    }
  }
}

.accounts-section {
  margin: 1rem 0;
  padding: 1rem;
  background: var(--card-bg);
  border-radius: 4px;

  .accounts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      margin: 0;
      color: var(--text-color);
    }

    .balance-toggle {
      color: var(--text-color);
    }
  }

  .accounts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .account-card {
      background: var(--card-bg);
      transition: transform 0.2s, box-shadow 0.2s;
      
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.explore-section {
  margin: 1rem 0;
  padding: 1rem;
  background: var(--card-bg);
  border-radius: 4px;

  h5 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
  }

  .explore-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    .explore-item {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;
      background: var(--card-bg);
      box-shadow: none;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      i.pi {
        margin-right: .5rem;
        color: var(--primary-color);
      }

      span {
        flex-grow: 1;
      }

      .arrow-icon {
        color: var(--text-secondary);
      }
    }
  }

  .deposit-protection {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0.75rem;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 4px;

    .warning-icon {
      color: #ff0000;
      margin-right: 0.75rem;
    }

    span {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--text-color);
    }
  }
}
