<app-header title="News" bg_img="euromoney-awards-trade-digital-banner.jpg"></app-header>

<div class="news-section" (scroll)="scrolling($event)">
  <div class="news-list">
    <div *ngFor="let article of marketNews" class="news-card">
      <div class="news-header">
        <span class="news-source">{{article.source}}</span>
        <span class="news-date">{{article.published_at | date:'mediumDate'}}</span>
      </div>
      <h3 class="news-title">{{article.title}}</h3>
      <div *ngIf="article.image_url" class="">
        <img [src]="article.image_url" class="w-full md:w-1/4">
      </div>
      <p class="news-description">{{article.description}}</p>
      <a [href]="article.url" target="_blank" class="read-more">Read more</a>
    </div>
    
    <div *ngIf="isLoading" class="loading-indicator">
      <div class="spinner"></div>
      <p>Loading more news...</p>
    </div>
    <div *ngIf="!hasMore" class="no-more">
      <p>No more news to load</p>
    </div>
  </div>
</div>
