<div class="w-full">
  <div class="flex flex-row gap-x-2">
    <p-iconfield class="grow">
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" class="w-full" pInputText [(ngModel)]="searchQuery" (input)="onSearch()"
        [pAutoFocus]="autofocus" (focus)="onFocus()" (blur)="onBlur()" [placeholder]="!!!placeholder ? 'Search securites' : placeholder"
        i18n-placeholder />
    </p-iconfield>
    <p-button *ngIf="searchResults.length > 0" icon="pi pi-times" (click)="clearSearch()" variant="outlined"
      severity="secondary" styleClass="h-full">
    </p-button>
  </div>

  <div *ngIf="searchResults.length > 0">
    <small>Search Results</small>
    <p-listbox [options]="searchResults"  class="search-results"
      (onClick)="selectResult($event.option.code)" [listStyle]="{'max-height':'15rem'}">
      <ng-template let-result pTemplate="item">
        <div class="result-item">
          <div>{{result.name}} ({{result.code}})</div>
        </div>
      </ng-template>
    </p-listbox>
  </div>

  <div *ngIf="showLatestInstruments && instruments.length > 0">
    <small>Recent Securities</small>
    <p-listbox [options]="instruments" class="search-results" (onClick)="selectResult($event.option.code)"
      [listStyle]="{'max-height':'15rem'}">
      <ng-template let-instrument pTemplate="item">
        <div class="result-item">
          <div>{{instrument.name}} ({{instrument.code}})</div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</div>

 <p-toast [breakpoints]="{ '768px': { width: '100%', right: '0', left: '0' } }" />