<app-top-navigation></app-top-navigation>
<div class="p-4 max-w-3xl mx-auto">
  <form [formGroup]="form" class="space-y-4">
    <div *ngFor="let item of items" class="space-y-2">
      <label [for]="item.DefinedAttributeName" class="block text-gray-700 font-medium">
        {{item.DefinedAttributeName}}
      </label>

      <ng-container [ngSwitch]="item.DefinedAttributeType">
        <!-- Text Input -->
        <input pInputText *ngSwitchCase="'text'" [id]="item.DefinedAttributeName"
          [formControlName]="item.DefinedAttributeName" styleClass="w-full" />

        <!-- Number Input -->
        <p-inputNumber *ngSwitchCase="'number'" [id]="item.DefinedAttributeName"
          [formControlName]="item.DefinedAttributeName" styleClass="w-full">
        </p-inputNumber>

        <!-- Boolean Checkbox -->
        <p-checkbox *ngSwitchCase="'boolean'" [binary]="true" [id]="item.DefinedAttributeName"
          [formControlName]="item.DefinedAttributeName">
        </p-checkbox>

        <!-- Email Input -->
        <input pInputText *ngSwitchCase="'email'" [id]="item.DefinedAttributeName"
          [formControlName]="item.DefinedAttributeName" styleClass="w-full" type="email" />

        <!-- Phone Input -->
        <p-inputMask *ngSwitchCase="'phone'" [id]="item.DefinedAttributeName"
          [formControlName]="item.DefinedAttributeName" mask="(999) 999-9999" styleClass="w-full">
        </p-inputMask>

        <!-- Address Textarea -->
        <textarea pTextarea *ngSwitchCase="'address'" [id]="item.DefinedAttributeName"
          [formControlName]="item.DefinedAttributeName" styleClass="w-full">
        </textarea>

        <!-- Select Dropdown -->
        <p-select *ngSwitchCase="'select'" [id]="item.DefinedAttributeName"
          [formControlName]="item.DefinedAttributeName" [options]="item.DefinedAttributeValue" styleClass="w-full">
        </p-select>
      </ng-container>
    </div>
  </form>
</div>