<app-top-navigation [title]="groupName"></app-top-navigation>
<div class="p-4 max-w-3xl mx-auto">
  <form [formGroup]="form" class="flex flex-col space-y-2">
    <p-card *ngFor="let item of items" class="" [header]="item.name">
      <ng-container [ngSwitch]="item.type">
        <!-- Text Input -->
        <input pInputText *ngSwitchCase="'TEXT'" [id]="item.name" [formControlName]="item.name" styleClass="w-full" />

        <!-- Number Input -->
        <p-inputNumber *ngSwitchCase="'NUMBER'" [id]="item.name" [formControlName]="item.name" styleClass="w-full">
        </p-inputNumber>

        <!-- Boolean Checkbox -->
        <div *ngSwitchCase="'BOOLEAN'">
          <p-checkbox [binary]="true" [inputId]="item.name" [formControlName]="item.name">
          </p-checkbox>
          <label [for]="item.name" class="ml-2">{{item.name}}</label>
        </div>

        <!-- Email Input -->
        <input pInputText *ngSwitchCase="'EMAIL'" [id]="item.name" [formControlName]="item.name" styleClass="w-full"
          type="email" />

        <!-- Phone Input -->
        <p-inputMask *ngSwitchCase="'PHONE'" [id]="item.name" [formControlName]="item.name" mask="(999) 999-9999"
          styleClass="w-full">
        </p-inputMask>

        <!-- Address Textarea -->
        <textarea pTextarea *ngSwitchCase="'ADDRESS'" [id]="item.name" [formControlName]="item.name"
          styleClass="w-full">
        </textarea>

        <!-- Select Dropdown -->
        <!-- <p-select *ngSwitchCase="'OPTIONS'" [id]="item.name" [formControlName]="item.name"
          [options]="getOptions(item.value)" styleClass="w-full">
        </p-select> -->

        <div *ngSwitchCase="'OPTIONS'">
          <div *ngFor="let option of getOptions(item.item_value)">
            <p-checkbox [formControlName]="item.name" [value]="option" [inputId]="option" />
            <label [for]="option" class="ml-2">{{option}}</label>
          </div>
        </div>
      </ng-container>
    </p-card>
  </form>
</div>