<app-top-navigation title="Order Detail"></app-top-navigation>

<div class="p-4">
    @if (loading) {
    <div class="card">
        <div class="flex flex-wrap">
            <div class="w-full xl:w-6/12 p-4">
                <p-skeleton styleClass="mb-2" />
                <p-skeleton width="10rem" styleClass="mb-2" />
                <p-skeleton width="5rem" styleClass="mb-2" />
                <p-skeleton height="2rem" styleClass="mb-2" />
                <p-skeleton width="10rem" height="4rem" styleClass="mb-2" />
                <p-skeleton styleClass="mb-2" />
                <p-skeleton width="10rem" styleClass="mb-2" />
                <p-skeleton width="5rem" styleClass="mb-2" />
                <p-skeleton height="2rem" styleClass="mb-2" />
                <p-skeleton width="10rem" height="4rem" styleClass="mb-2" />
                <p-skeleton styleClass="mb-2" />
                <p-skeleton width="10rem" styleClass="mb-2" />
                <p-skeleton width="5rem" styleClass="mb-2" />
                <p-skeleton height="2rem" styleClass="mb-2" />
                <p-skeleton width="10rem" height="4rem" styleClass="mb-2" />
            </div>
        </div>
    </div>
    }
    @if (orderDetail) {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Order Details -->
        <p-fieldset legend="Order Information" [toggleable]="true">
            <div class="grid grid-cols-2 gap-2">
                <div>
                    <label class="text-gray-500">Order ID</label>
                    <p>{{orderDetail.order.id}}</p>
                </div>
                <div>
                    <label class="text-gray-500 mr-2">Status</label>
                    <p-tag [severity]="orderDetail.order.status === 'FILLED' ? 'success' : 'warning'">
                        {{orderDetail.order.status}}
                    </p-tag>
                </div>
                <div>
                    <label class="text-gray-500">Quantity</label>
                    <p>{{orderDetail.order.quantity}}</p>
                </div>
                <div>
                    <label class="text-gray-500">Price</label>
                    <p>{{orderDetail.order.price | currency: orderDetail.balance.ccy}}</p>
                </div>
                <div>
                    <label class="text-gray-500">Date</label>
                    <p>{{orderDetail.order.created_at | date: 'long'}}</p>
                </div>
            </div>
        </p-fieldset>

        <!-- Instrument Details -->
        <p-fieldset legend="Instrument" [toggleable]="true">
            <div class="grid grid-cols-2 gap-2">
                <div>
                    <label class="text-gray-500">Code</label>
                    <p>{{orderDetail.instrument.code}}</p>
                </div>
                <div>
                    <label class="text-gray-500">Name</label>
                    <p>{{orderDetail.instrument.name}}</p>
                </div>
            </div>
        </p-fieldset>

        <!-- Account Details -->
        <p-fieldset legend="Account" [toggleable]="true">
            <div class="grid grid-cols-2 gap-2">
                <div>
                    <label class="text-gray-500">Account Name</label>
                    <p>{{orderDetail.account.name}}</p>
                </div>
                <div>
                    <label class="text-gray-500">Currency</label>
                    <p>{{orderDetail.account.ccy}}</p>
                </div>
            </div>
        </p-fieldset>

        <!-- Balance Details -->
        <p-fieldset legend="Balance" [toggleable]="true">
            <div class="grid grid-cols-2 gap-2">
                <div>
                    <label class="text-gray-500">Available Balance</label>
                    <p>{{orderDetail.balance.balance | currency:orderDetail.balance.ccy}}</p>
                </div>
            </div>
        </p-fieldset>
    </div>
    }
</div>